body {
    background: #FFFFFF;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    margin:0 auto;
}


header img {
    max-height: 150px;
    max-width: 150px;
}


header {
    text-align: center;
    font-size: 30px;
    background: rgb(185,185,185);
    background: -moz-linear-gradient(top, rgb(185,185,185) 0%, rgb(255,255,255) 100%);
    background: -webkit-linear-gradient(top, rgb(185,185,185) 0%, rgb(255,255,255) 100%);
    background: linear-gradient(to bottom, rgb(185,185,185) 0%, rgb(255,255,255) 100%);
    padding: 50px;
}   

p.strapline {
    font-style: italic;
    font-size: smaller;
}

nav {
    font-size: 20px;
}   

/* nav img {

} */

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding: 2em;
    display: inline-block;
    text-transform: uppercase;
    /* border: black 2px solid; */
}

li a {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
    color: #555;
}

li a:hover {
    color: #000;
    font-weight: bold;
}

div.container {
    width: 90%;
    max-width: 1400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 50px;
    text-align: center;
}


p.feature {
    text-align: center;
    font-size: larger;
    font-variant-caps: small-caps; 
}

.container p {
    font-size: larger;
    padding: 2em;
}

a.emailbutton { 
    color: rgb(0, 0, 0); font-size: 30px; line-height: 30px; padding: 16px; border-radius: 50px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(215, 215, 215) 0%, rgb(185, 185, 185) 50%, rgb(255, 255, 255) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(0, 0, 0); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; 
}

footer {
    font-style: italic;
    font-size: larger;
    text-align: center;
    width: 80%;
    margin: top 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    border-top: 1px solid black;
}

/* === MEDIA QUERIES === */

/* @media screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
} */